#chartdiv_1
 {
  width: 40%;
  height: 500px;
  float: left;
  /* margin: 0 auto;
  clear: both; */
}

#chartdiv_2 {
  width: 60%; 
  height: 500px; 
  float: right;
}

#chartdiv_5 {
  width: 60%; 
  height: 500px; 
  float:right;
  /* margin: 0 auto;
  clear: both; */
}
/* 
#chartdiv_3 {
  width: 75%; 
  height: 500px; 
  margin: 0 auto;
  clear: both;
} */

#chartdiv_4 {
    width: 40%; 
    height: 500px; 
    float:left;
    /* margin: 0 auto;
    clear: both; */
}
